@model List<ContatoModel>
@{
    ViewData["Title"] = "Lista de contatos";
}

<div class="text-center">

    @*<button class="alert alert-warning close-alert" role="alert">
        A simple warning alert—check it out!
    </button>*@

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="d-flex flex-column justify-content-center">
            <button class="alert alert-success center close-alert" role="alert">
                @TempData["MensagemSucesso"]
            </button>
        </div>
    }

    @if(TempData["MensagemErro"] != null)
    {
        <div class="d-flex flex-column justify-content-center">
            <button class="alert alert-success center close-alert" role="alert">
                @TempData["MensagemErro"]
            </button>
        </div>
    }

<h1 class="display-4">Lista de contatos</h1>
    @*type="button" onclick="adicionarLinha()"*@
<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-primary gap-2" role="button" style="display:flex; align-items:center; justify-content:center;" title="Adicionar Contato" asp-controller="Contato" asp-action="Adicionar">
        <ion-icon name="add-circle-outline" size="small"></ion-icon>
        <span>Adicionar</span>
    </a>
</div>

<table class="table" id="table-contatos">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Celular</th>
            <th scope="col">Opções</th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null && Model.Any())
            {
                foreach(ContatoModel contato in Model)
                {
                    <tr>
                        <th scope="row">@contato.Id</th>
                        <td contenteditable="true">@contato.Nome</td>
                        <td contenteditable="true">@contato.Email</td>
                        <td contenteditable="true">@contato.Celular</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a class="btn btn-success" title="Editar" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Editar">
                                    <ion-icon name="pencil"></ion-icon>
                                </a>
                                <a class="btn btn-danger" title="Deletar" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Deletar">
                                    <ion-icon name="trash"></ion-icon>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }

    </tbody>
</table>
</div>